In [43]:
#pip install psycopg2-binary
#pip install psycopg2

In [1]:
import psycopg2
import pandas as pd

/var/folders/fb/xl0hnskx527bfqkv38l3sn7h0000gn/T/ipykernel_93941/979458548.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
# Connect to your postgres DB
conn = psycopg2.connect("dbname=test user=funka password=funka1")

In [3]:
# Open a cursor to perform database operations
cur = conn.cursor()

In [4]:
# Execute a query
#cur.execute("SELECT * FROM customers")
cur.execute("SELECT * FROM orders") #int, datetime
#cur.execute("SELECT * FROM products") #int, decimal

In [5]:
# Retrieve query results
records = cur.fetchall()

In [6]:
records

[(10248, 90, datetime.date(2021, 7, 4)),
 (10249, 81, datetime.date(2021, 7, 5)),
 (10250, 34, datetime.date(2021, 7, 8)),
 (10251, 84, datetime.date(2021, 7, 8)),
 (10252, 76, datetime.date(2021, 7, 9)),
 (10253, 34, datetime.date(2021, 7, 10)),
 (10254, 14, datetime.date(2021, 7, 11)),
 (10255, 68, datetime.date(2021, 7, 12)),
 (10256, 88, datetime.date(2021, 7, 15)),
 (10257, 35, datetime.date(2021, 7, 16)),
 (10258, 20, datetime.date(2021, 7, 17)),
 (10259, 13, datetime.date(2021, 7, 18)),
 (10260, 55, datetime.date(2021, 7, 19)),
 (10261, 61, datetime.date(2021, 7, 19)),
 (10262, 65, datetime.date(2021, 7, 22)),
 (10263, 20, datetime.date(2021, 7, 23)),
 (10264, 24, datetime.date(2021, 7, 24)),
 (10265, 7, datetime.date(2021, 7, 25)),
 (10266, 87, datetime.date(2021, 7, 26)),
 (10267, 25, datetime.date(2021, 7, 29)),
 (10268, 33, datetime.date(2021, 7, 30)),
 (10269, 89, datetime.date(2021, 7, 31)),
 (10270, 87, datetime.date(2021, 8, 1)),
 (10271, 75, datetime.date(2021, 8, 1)),
 (10272, 65, datetime.date(2021, 8, 2)),
 (10273, 63, datetime.date(2021, 8, 5)),
 (10274, 85, datetime.date(2021, 8, 6)),
 (10275, 49, datetime.date(2021, 8, 7)),
 (10276, 80, datetime.date(2021, 8, 8)),
 (10277, 52, datetime.date(2021, 8, 9)),
 (10278, 5, datetime.date(2021, 8, 12)),
 (10279, 44, datetime.date(2021, 8, 13)),
 (10280, 5, datetime.date(2021, 8, 14)),
 (10281, 69, datetime.date(2021, 8, 14)),
 (10282, 69, datetime.date(2021, 8, 15)),
 (10283, 46, datetime.date(2021, 8, 16)),
 (10284, 44, datetime.date(2021, 8, 19)),
 (10285, 63, datetime.date(2021, 8, 20)),
 (10286, 63, datetime.date(2021, 8, 21)),
 (10287, 67, datetime.date(2021, 8, 22)),
 (10288, 66, datetime.date(2021, 8, 23)),
 (10289, 11, datetime.date(2021, 8, 26)),
 (10290, 15, datetime.date(2021, 8, 27)),
 (10291, 61, datetime.date(2021, 8, 27)),
 (10292, 81, datetime.date(2021, 8, 28)),
 (10293, 80, datetime.date(2021, 8, 29)),
 (10294, 65, datetime.date(2021, 8, 30)),
 (10295, 85, datetime.date(2021, 9, 2)),
 (10296, 46, datetime.date(2021, 9, 3)),
 (10297, 7, datetime.date(2021, 9, 4)),
 (10298, 37, datetime.date(2021, 9, 5)),
 (10299, 67, datetime.date(2021, 9, 6)),
 (10300, 49, datetime.date(2021, 9, 9)),
 (10301, 86, datetime.date(2021, 9, 9)),
 (10302, 76, datetime.date(2021, 9, 10)),
 (10303, 30, datetime.date(2021, 9, 11)),
 (10304, 80, datetime.date(2021, 9, 12)),
 (10305, 55, datetime.date(2021, 9, 13)),
 (10306, 69, datetime.date(2021, 9, 16)),
 (10307, 48, datetime.date(2021, 9, 17)),
 (10308, 2, datetime.date(2021, 9, 18)),
 (10309, 37, datetime.date(2021, 9, 19)),
 (10310, 77, datetime.date(2021, 9, 20)),
 (10311, 18, datetime.date(2021, 9, 20)),
 (10312, 86, datetime.date(2021, 9, 23)),
 (10313, 63, datetime.date(2021, 9, 24)),
 (10314, 65, datetime.date(2021, 9, 25)),
 (10315, 38, datetime.date(2021, 9, 26)),
 (10316, 65, datetime.date(2021, 9, 27)),
 (10317, 48, datetime.date(2021, 9, 30)),
 (10318, 38, datetime.date(2021, 10, 1)),
 (10319, 80, datetime.date(2021, 10, 2)),
 (10320, 87, datetime.date(2021, 10, 3)),
 (10321, 38, datetime.date(2021, 10, 3)),
 (10322, 58, datetime.date(2021, 10, 4)),
 (10323, 39, datetime.date(2021, 10, 7)),
 (10324, 71, datetime.date(2021, 10, 8)),
 (10325, 39, datetime.date(2021, 10, 9)),
 (10326, 8, datetime.date(2021, 10, 10)),
 (10327, 24, datetime.date(2021, 10, 11)),
 (10328, 28, datetime.date(2021, 10, 14)),
 (10329, 75, datetime.date(2021, 10, 15)),
 (10330, 46, datetime.date(2021, 10, 16)),
 (10331, 9, datetime.date(2021, 10, 16)),
 (10332, 51, datetime.date(2021, 10, 17)),
 (10333, 87, datetime.date(2021, 10, 18)),
 (10334, 84, datetime.date(2021, 10, 21)),
 (10335, 37, datetime.date(2021, 10, 22)),
 (10336, 60, datetime.date(2021, 10, 23)),
 (10337, 25, datetime.date(2021, 10, 24)),
 (10338, 55, datetime.date(2021, 10, 25)),
 (10339, 51, datetime.date(2021, 10, 28)),
 (10340, 9, datetime.date(2021, 10, 29)),
 (10341, 73, datetime.date(2021, 10, 29)),
 (10342, 25, datetime.date(2021, 10, 30)),
 (10343, 44, datetime.date(2021, 10, 31)),
 (10344, 89, datetime.date(2021, 11, 1)),
 (10345, 63, datetime.date(2021, 11, 4)),
 (10346, 65, datetime.date(2021, 11, 5)),
 (10347, 21, datetime.date(2021, 11, 6)),
 (10348, 86, datetime.date(2021, 11, 7)),
 (10349, 75, datetime.date(2021, 11, 8)),
 (10350, 41, datetime.date(2021, 11, 11)),
 (10351, 20, datetime.date(2021, 11, 11)),
 (10352, 28, datetime.date(2021, 11, 12)),
 (10353, 59, datetime.date(2021, 11, 13)),
 (10354, 58, datetime.date(2021, 11, 14)),
 (10355, 4, datetime.date(2021, 11, 15)),
 (10356, 86, datetime.date(2021, 11, 18)),
 (10357, 46, datetime.date(2021, 11, 19)),
 (10358, 41, datetime.date(2021, 11, 20)),
 (10359, 72, datetime.date(2021, 11, 21)),
 (10360, 7, datetime.date(2021, 11, 22)),
 (10361, 63, datetime.date(2021, 11, 22)),
 (10362, 9, datetime.date(2021, 11, 25)),
 (10363, 17, datetime.date(2021, 11, 26)),
 (10364, 19, datetime.date(2021, 11, 26)),
 (10365, 3, datetime.date(2021, 11, 27)),
 (10366, 29, datetime.date(2021, 11, 28)),
 (10367, 83, datetime.date(2021, 11, 28)),
 (10368, 20, datetime.date(2021, 11, 29)),
 (10369, 75, datetime.date(2021, 12, 2)),
 (10370, 14, datetime.date(2021, 12, 3)),
 (10371, 41, datetime.date(2021, 12, 3)),
 (10372, 62, datetime.date(2021, 12, 4)),
 (10373, 37, datetime.date(2021, 12, 5)),
 (10374, 91, datetime.date(2021, 12, 5)),
 (10375, 36, datetime.date(2021, 12, 6)),
 (10376, 51, datetime.date(2021, 12, 9)),
 (10377, 72, datetime.date(2021, 12, 9)),
 (10378, 24, datetime.date(2021, 12, 10)),
 (10379, 61, datetime.date(2021, 12, 11)),
 (10380, 37, datetime.date(2021, 12, 12)),
 (10381, 46, datetime.date(2021, 12, 12)),
 (10382, 20, datetime.date(2021, 12, 13)),
 (10383, 4, datetime.date(2021, 12, 16)),
 (10384, 5, datetime.date(2021, 12, 16)),
 (10385, 75, datetime.date(2021, 12, 17)),
 (10386, 21, datetime.date(2021, 12, 18)),
 (10387, 70, datetime.date(2021, 12, 18)),
 (10388, 72, datetime.date(2021, 12, 19)),
 (10389, 10, datetime.date(2021, 12, 20)),
 (10390, 20, datetime.date(2021, 12, 23)),
 (10391, 17, datetime.date(2021, 12, 23)),
 (10392, 59, datetime.date(2021, 12, 24)),
 (10393, 71, datetime.date(2021, 12, 25)),
 (10394, 36, datetime.date(2021, 12, 25)),
 (10395, 35, datetime.date(2021, 12, 26)),
 (10396, 25, datetime.date(2021, 12, 27)),
 (10397, 60, datetime.date(2021, 12, 27)),
 (10398, 71, datetime.date(2021, 12, 30)),
 (10399, 83, datetime.date(2021, 12, 31)),
 (10400, 19, datetime.date(2022, 1, 1)),
 (10401, 65, datetime.date(2022, 1, 1)),
 (10402, 20, datetime.date(2022, 1, 2)),
 (10403, 20, datetime.date(2022, 1, 3)),
 (10404, 49, datetime.date(2022, 1, 3)),
 (10405, 47, datetime.date(2022, 1, 6)),
 (10406, 62, datetime.date(2022, 1, 7)),
 (10407, 56, datetime.date(2022, 1, 7)),
 (10408, 23, datetime.date(2022, 1, 8)),
 (10409, 54, datetime.date(2022, 1, 9)),
 (10410, 10, datetime.date(2022, 1, 10)),
 (10411, 10, datetime.date(2022, 1, 10)),
 (10412, 87, datetime.date(2022, 1, 13)),
 (10413, 41, datetime.date(2022, 1, 14)),
 (10414, 21, datetime.date(2022, 1, 14)),
 (10415, 36, datetime.date(2022, 1, 15)),
 (10416, 87, datetime.date(2022, 1, 16)),
 (10417, 73, datetime.date(2022, 1, 16)),
 (10418, 63, datetime.date(2022, 1, 17)),
 (10419, 68, datetime.date(2022, 1, 20)),
 (10420, 88, datetime.date(2022, 1, 21)),
 (10421, 61, datetime.date(2022, 1, 21)),
 (10422, 27, datetime.date(2022, 1, 22)),
 (10423, 31, datetime.date(2022, 1, 23)),
 (10424, 51, datetime.date(2022, 1, 23)),
 (10425, 41, datetime.date(2022, 1, 24)),
 (10426, 29, datetime.date(2022, 1, 27)),
 (10427, 59, datetime.date(2022, 1, 27)),
 (10428, 66, datetime.date(2022, 1, 28)),
 (10429, 37, datetime.date(2022, 1, 29)),
 (10430, 20, datetime.date(2022, 1, 30)),
 (10431, 10, datetime.date(2022, 1, 30)),
 (10432, 75, datetime.date(2022, 1, 31)),
 (10433, 60, datetime.date(2022, 2, 3)),
 (10434, 24, datetime.date(2022, 2, 3)),
 (10435, 16, datetime.date(2022, 2, 4)),
 (10436, 7, datetime.date(2022, 2, 5)),
 (10437, 87, datetime.date(2022, 2, 5)),
 (10438, 79, datetime.date(2022, 2, 6)),
 (10439, 51, datetime.date(2022, 2, 7)),
 (10440, 71, datetime.date(2022, 2, 10)),
 (10441, 55, datetime.date(2022, 2, 10)),
 (10442, 20, datetime.date(2022, 2, 11)),
 (10443, 66, datetime.date(2022, 2, 12)),
 (10444, 5, datetime.date(2022, 2, 12)),
 (10445, 5, datetime.date(2022, 2, 13)),
 (10446, 79, datetime.date(2022, 2, 14)),
 (10447, 67, datetime.date(2022, 2, 14)),
 (10448, 64, datetime.date(2022, 2, 17)),
 (10449, 7, datetime.date(2022, 2, 18)),
 (10450, 84, datetime.date(2022, 2, 19)),
 (10451, 63, datetime.date(2022, 2, 19)),
 (10452, 71, datetime.date(2022, 2, 20)),
 (10453, 4, datetime.date(2022, 2, 21)),
 (10454, 41, datetime.date(2022, 2, 21)),
 (10455, 87, datetime.date(2022, 2, 24)),
 (10456, 39, datetime.date(2022, 2, 25)),
 (10457, 39, datetime.date(2022, 2, 25)),
 (10458, 76, datetime.date(2022, 2, 26)),
 (10459, 84, datetime.date(2022, 2, 27)),
 (10460, 24, datetime.date(2022, 2, 28)),
 (10461, 46, datetime.date(2022, 2, 28)),
 (10462, 16, datetime.date(2022, 3, 3)),
 (10463, 76, datetime.date(2022, 3, 4)),
 (10464, 28, datetime.date(2022, 3, 4)),
 (10465, 83, datetime.date(2022, 3, 5)),
 (10466, 15, datetime.date(2022, 3, 6)),
 (10467, 49, datetime.date(2022, 3, 6)),
 (10468, 39, datetime.date(2022, 3, 7)),
 (10469, 89, datetime.date(2022, 3, 10)),
 (10470, 9, datetime.date(2022, 3, 11)),
 (10471, 11, datetime.date(2022, 3, 11)),
 (10472, 72, datetime.date(2022, 3, 12)),
 (10473, 38, datetime.date(2022, 3, 13)),
 (10474, 58, datetime.date(2022, 3, 13)),
 (10475, 76, datetime.date(2022, 3, 14)),
 (10476, 35, datetime.date(2022, 3, 17)),
 (10477, 60, datetime.date(2022, 3, 17)),
 (10478, 84, datetime.date(2022, 3, 18)),
 (10479, 65, datetime.date(2022, 3, 19)),
 (10480, 23, datetime.date(2022, 3, 20)),
 (10481, 67, datetime.date(2022, 3, 20)),
 (10482, 43, datetime.date(2022, 3, 21)),
 (10483, 89, datetime.date(2022, 3, 24)),
 (10484, 11, datetime.date(2022, 3, 24)),
 (10485, 47, datetime.date(2022, 3, 25)),
 (10486, 35, datetime.date(2022, 3, 26)),
 (10487, 62, datetime.date(2022, 3, 26)),
 (10488, 25, datetime.date(2022, 3, 27)),
 (10489, 59, datetime.date(2022, 3, 28)),
 (10490, 35, datetime.date(2022, 3, 31)),
 (10491, 28, datetime.date(2022, 3, 31)),
 (10492, 10, datetime.date(2022, 4, 1)),
 (10493, 41, datetime.date(2022, 4, 2)),
 (10494, 15, datetime.date(2022, 4, 2)),
 (10495, 42, datetime.date(2022, 4, 3)),
 (10496, 81, datetime.date(2022, 4, 4)),
 (10497, 44, datetime.date(2022, 4, 4)),
 (10498, 35, datetime.date(2022, 4, 7)),
 (10499, 46, datetime.date(2022, 4, 8)),
 (10500, 41, datetime.date(2022, 4, 9)),
 (10501, 6, datetime.date(2022, 4, 9)),
 (10502, 58, datetime.date(2022, 4, 10)),
 (10503, 37, datetime.date(2022, 4, 11)),
 (10504, 89, datetime.date(2022, 4, 11)),
 (10505, 51, datetime.date(2022, 4, 14)),
 (10506, 39, datetime.date(2022, 4, 15)),
 (10507, 3, datetime.date(2022, 4, 15)),
 (10508, 56, datetime.date(2022, 4, 16)),
 (10509, 6, datetime.date(2022, 4, 17)),
 (10510, 71, datetime.date(2022, 4, 18)),
 (10511, 9, datetime.date(2022, 4, 18)),
 (10512, 21, datetime.date(2022, 4, 21)),
 (10513, 86, datetime.date(2022, 4, 22)),
 (10514, 20, datetime.date(2022, 4, 22)),
 (10515, 63, datetime.date(2022, 4, 23)),
 (10516, 37, datetime.date(2022, 4, 24)),
 (10517, 53, datetime.date(2022, 4, 24)),
 (10518, 80, datetime.date(2022, 4, 25)),
 (10519, 14, datetime.date(2022, 4, 28)),
 (10520, 70, datetime.date(2022, 4, 29)),
 (10521, 12, datetime.date(2022, 4, 29)),
 (10522, 44, datetime.date(2022, 4, 30)),
 (10523, 72, datetime.date(2022, 5, 1)),
 (10524, 5, datetime.date(2022, 5, 1)),
 (10525, 9, datetime.date(2022, 5, 2)),
 (10526, 87, datetime.date(2022, 5, 5)),
 (10527, 63, datetime.date(2022, 5, 5)),
 (10528, 32, datetime.date(2022, 5, 6)),
 (10529, 50, datetime.date(2022, 5, 7)),
 (10530, 59, datetime.date(2022, 5, 8)),
 (10531, 54, datetime.date(2022, 5, 8)),
 (10532, 19, datetime.date(2022, 5, 9)),
 (10533, 24, datetime.date(2022, 5, 12)),
 (10534, 44, datetime.date(2022, 5, 12)),
 (10535, 3, datetime.date(2022, 5, 13)),
 (10536, 44, datetime.date(2022, 5, 14)),
 (10537, 68, datetime.date(2022, 5, 14)),
 (10538, 11, datetime.date(2022, 5, 15)),
 (10539, 11, datetime.date(2022, 5, 16)),
 (10540, 63, datetime.date(2022, 5, 19)),
 (10541, 34, datetime.date(2022, 5, 19)),
 (10542, 39, datetime.date(2022, 5, 20)),
 (10543, 46, datetime.date(2022, 5, 21)),
 (10544, 48, datetime.date(2022, 5, 21)),
 (10545, 43, datetime.date(2022, 5, 22)),
 (10546, 84, datetime.date(2022, 5, 23)),
 (10547, 72, datetime.date(2022, 5, 23)),
 (10548, 79, datetime.date(2022, 5, 26)),
 (10549, 63, datetime.date(2022, 5, 27)),
 (10550, 30, datetime.date(2022, 5, 28)),
 (10551, 28, datetime.date(2022, 5, 28)),
 (10552, 35, datetime.date(2022, 5, 29)),
 (10553, 87, datetime.date(2022, 5, 30)),
 (10554, 56, datetime.date(2022, 5, 30)),
 (10555, 71, datetime.date(2022, 6, 2)),
 (10556, 73, datetime.date(2022, 6, 3)),
 (10557, 44, datetime.date(2022, 6, 3)),
 (10558, 4, datetime.date(2022, 6, 4)),
 (10559, 7, datetime.date(2022, 6, 5)),
 (10560, 25, datetime.date(2022, 6, 6)),
 (10561, 24, datetime.date(2022, 6, 6)),
 (10562, 66, datetime.date(2022, 6, 9)),
 (10563, 67, datetime.date(2022, 6, 10)),
 (10564, 65, datetime.date(2022, 6, 10)),
 (10565, 51, datetime.date(2022, 6, 11)),
 (10566, 7, datetime.date(2022, 6, 12)),
 (10567, 37, datetime.date(2022, 6, 12)),
 (10568, 29, datetime.date(2022, 6, 13)),
 (10569, 65, datetime.date(2022, 6, 16)),
 (10570, 51, datetime.date(2022, 6, 17)),
 (10571, 20, datetime.date(2022, 6, 17)),
 (10572, 5, datetime.date(2022, 6, 18)),
 (10573, 3, datetime.date(2022, 6, 19)),
 (10574, 82, datetime.date(2022, 6, 19)),
 (10575, 52, datetime.date(2022, 6, 20)),
 (10576, 80, datetime.date(2022, 6, 23)),
 (10577, 82, datetime.date(2022, 6, 23)),
 (10578, 11, datetime.date(2022, 6, 24)),
 (10579, 45, datetime.date(2022, 6, 25)),
 (10580, 56, datetime.date(2022, 6, 26)),
 (10581, 21, datetime.date(2022, 6, 26)),
 (10582, 6, datetime.date(2022, 6, 27)),
 (10583, 87, datetime.date(2022, 6, 30)),
 (10584, 7, datetime.date(2022, 6, 30)),
 (10585, 88, datetime.date(2022, 7, 1)),
 (10586, 66, datetime.date(2022, 7, 2)),
 (10587, 61, datetime.date(2022, 7, 2)),
 (10588, 63, datetime.date(2022, 7, 3)),
 (10589, 32, datetime.date(2022, 7, 4)),
 (10590, 51, datetime.date(2022, 7, 7)),
 (10591, 83, datetime.date(2022, 7, 7)),
 (10592, 44, datetime.date(2022, 7, 8)),
 (10593, 44, datetime.date(2022, 7, 9)),
 (10594, 55, datetime.date(2022, 7, 9)),
 (10595, 20, datetime.date(2022, 7, 10)),
 (10596, 89, datetime.date(2022, 7, 11)),
 (10597, 59, datetime.date(2022, 7, 11)),
 (10598, 65, datetime.date(2022, 7, 14)),
 (10599, 11, datetime.date(2022, 7, 15)),
 (10600, 36, datetime.date(2022, 7, 16)),
 (10601, 35, datetime.date(2022, 7, 16)),
 (10602, 83, datetime.date(2022, 7, 17)),
 (10603, 71, datetime.date(2022, 7, 18)),
 (10604, 28, datetime.date(2022, 7, 18)),
 (10605, 51, datetime.date(2022, 7, 21)),
 (10606, 81, datetime.date(2022, 7, 22)),
 (10607, 71, datetime.date(2022, 7, 22)),
 (10608, 79, datetime.date(2022, 7, 23)),
 (10609, 18, datetime.date(2022, 7, 24)),
 (10610, 41, datetime.date(2022, 7, 25)),
 (10611, 91, datetime.date(2022, 7, 25)),
 (10612, 71, datetime.date(2022, 7, 28)),
 (10613, 35, datetime.date(2022, 7, 29)),
 (10614, 6, datetime.date(2022, 7, 29)),
 (10615, 90, datetime.date(2022, 7, 30)),
 (10616, 32, datetime.date(2022, 7, 31)),
 (10617, 32, datetime.date(2022, 7, 31)),
 (10618, 51, datetime.date(2022, 8, 1)),
 (10619, 51, datetime.date(2022, 8, 4)),
 (10620, 42, datetime.date(2022, 8, 5)),
 (10621, 38, datetime.date(2022, 8, 5)),
 (10622, 67, datetime.date(2022, 8, 6)),
 (10623, 25, datetime.date(2022, 8, 7)),
 (10624, 78, datetime.date(2022, 8, 7)),
 (10625, 2, datetime.date(2022, 8, 8)),
 (10626, 5, datetime.date(2022, 8, 11)),
 (10627, 71, datetime.date(2022, 8, 11)),
 (10628, 7, datetime.date(2022, 8, 12)),
 (10629, 30, datetime.date(2022, 8, 12)),
 (10630, 39, datetime.date(2022, 8, 13)),
 (10631, 41, datetime.date(2022, 8, 14)),
 (10632, 86, datetime.date(2022, 8, 14)),
 (10633, 20, datetime.date(2022, 8, 15)),
 (10634, 23, datetime.date(2022, 8, 15)),
 (10635, 49, datetime.date(2022, 8, 18)),
 (10636, 87, datetime.date(2022, 8, 19)),
 (10637, 62, datetime.date(2022, 8, 19)),
 (10638, 47, datetime.date(2022, 8, 20)),
 (10639, 70, datetime.date(2022, 8, 20)),
 (10640, 86, datetime.date(2022, 8, 21)),
 (10641, 35, datetime.date(2022, 8, 22)),
 (10642, 73, datetime.date(2022, 8, 22)),
 (10643, 1, datetime.date(2022, 8, 25)),
 (10644, 88, datetime.date(2022, 8, 25)),
 (10645, 34, datetime.date(2022, 8, 26)),
 (10646, 37, datetime.date(2022, 8, 27)),
 (10647, 61, datetime.date(2022, 8, 27)),
 (10648, 67, datetime.date(2022, 8, 28)),
 (10649, 50, datetime.date(2022, 8, 28)),
 (10650, 21, datetime.date(2022, 8, 29)),
 (10651, 86, datetime.date(2022, 9, 1)),
 (10652, 31, datetime.date(2022, 9, 1)),
 (10653, 25, datetime.date(2022, 9, 2)),
 (10654, 5, datetime.date(2022, 9, 2)),
 (10655, 66, datetime.date(2022, 9, 3)),
 (10656, 32, datetime.date(2022, 9, 4)),
 (10657, 71, datetime.date(2022, 9, 4)),
 (10658, 63, datetime.date(2022, 9, 5)),
 (10659, 62, datetime.date(2022, 9, 5)),
 (10660, 36, datetime.date(2022, 9, 8)),
 (10661, 37, datetime.date(2022, 9, 9)),
 (10662, 48, datetime.date(2022, 9, 9)),
 (10663, 9, datetime.date(2022, 9, 10)),
 (10664, 28, datetime.date(2022, 9, 10)),
 (10665, 48, datetime.date(2022, 9, 11)),
 (10666, 68, datetime.date(2022, 9, 12)),
 (10667, 20, datetime.date(2022, 9, 12)),
 (10668, 86, datetime.date(2022, 9, 15)),
 (10669, 73, datetime.date(2022, 9, 15)),
 (10670, 25, datetime.date(2022, 9, 16)),
 (10671, 26, datetime.date(2022, 9, 17)),
 (10672, 5, datetime.date(2022, 9, 17)),
 (10673, 90, datetime.date(2022, 9, 18)),
 (10674, 38, datetime.date(2022, 9, 18)),
 (10675, 25, datetime.date(2022, 9, 19)),
 (10676, 80, datetime.date(2022, 9, 22)),
 (10677, 3, datetime.date(2022, 9, 22)),
 (10678, 71, datetime.date(2022, 9, 23)),
 (10679, 7, datetime.date(2022, 9, 23)),
 (10680, 55, datetime.date(2022, 9, 24)),
 (10681, 32, datetime.date(2022, 9, 25)),
 (10682, 3, datetime.date(2022, 9, 25)),
 (10683, 18, datetime.date(2022, 9, 26)),
 (10684, 56, datetime.date(2022, 9, 26)),
 (10685, 31, datetime.date(2022, 9, 29)),
 (10686, 59, datetime.date(2022, 9, 30)),
 (10687, 37, datetime.date(2022, 9, 30)),
 (10688, 83, datetime.date(2022, 10, 1)),
 (10689, 5, datetime.date(2022, 10, 1)),
 (10690, 34, datetime.date(2022, 10, 2)),
 (10691, 63, datetime.date(2022, 10, 3)),
 (10692, 1, datetime.date(2022, 10, 3)),
 (10693, 89, datetime.date(2022, 10, 6)),
 (10694, 63, datetime.date(2022, 10, 6)),
 (10695, 90, datetime.date(2022, 10, 7)),
 (10696, 89, datetime.date(2022, 10, 8)),
 (10697, 47, datetime.date(2022, 10, 8)),
 (10698, 20, datetime.date(2022, 10, 9)),
 (10699, 52, datetime.date(2022, 10, 9)),
 (10700, 71, datetime.date(2022, 10, 10)),
 (10701, 37, datetime.date(2022, 10, 13)),
 (10702, 1, datetime.date(2022, 10, 13)),
 (10703, 24, datetime.date(2022, 10, 14)),
 (10704, 62, datetime.date(2022, 10, 14)),
 (10705, 35, datetime.date(2022, 10, 15)),
 (10706, 55, datetime.date(2022, 10, 16)),
 (10707, 4, datetime.date(2022, 10, 16)),
 (10708, 77, datetime.date(2022, 10, 17)),
 (10709, 31, datetime.date(2022, 10, 17)),
 (10710, 27, datetime.date(2022, 10, 20)),
 (10711, 71, datetime.date(2022, 10, 21)),
 (10712, 37, datetime.date(2022, 10, 21)),
 (10713, 71, datetime.date(2022, 10, 22)),
 (10714, 71, datetime.date(2022, 10, 22)),
 (10715, 9, datetime.date(2022, 10, 23)),
 (10716, 64, datetime.date(2022, 10, 24)),
 (10717, 25, datetime.date(2022, 10, 24)),
 (10718, 39, datetime.date(2022, 10, 27)),
 (10719, 45, datetime.date(2022, 10, 27)),
 (10720, 61, datetime.date(2022, 10, 28)),
 (10721, 63, datetime.date(2022, 10, 29)),
 (10722, 71, datetime.date(2022, 10, 29)),
 (10723, 89, datetime.date(2022, 10, 30)),
 (10724, 51, datetime.date(2022, 10, 30)),

In [7]:
len(cur.description)

3

In [8]:
field_names = [col[0] for col in cur.description]

In [9]:
field_names

['order_id', 'customer_id', 'order_date']

In [10]:
df = pd.DataFrame((tuple(t) for t in records))
df.columns = field_names

In [11]:
df

     order_id  customer_id  order_date
0       10248           90  2021-07-04
1       10249           81  2021-07-05
2       10250           34  2021-07-08
3       10251           84  2021-07-08
4       10252           76  2021-07-09
..        ...          ...         ...
825     11073           58  2023-05-05
826     11074           73  2023-05-06
827     11075           68  2023-05-06
828     11076            9  2023-05-06
829     11077           65  2023-05-06

[830 rows x 3 columns]

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 830 entries, 0 to 829
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   order_id     830 non-null    int64
 1   customer_id  830 non-null    int64
 2   order_date   830 non-null    object
dtypes: int64(2), object(1)
memory usage: 19.6+ KB

In [13]:
#df['price'] = pd.to_numeric(df['price'])
df['order_date'] = pd.to_datetime(df['order_date'])
#df['order_date'] = pd.to_datetime(df['order_date'], format='%Y-%m-%d') #format = 'mixed'
#df['order_date1'] = str(df['order_date'])

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 830 entries, 0 to 829
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   order_id     830 non-null    int64
 1   customer_id  830 non-null    int64
 2   order_date   830 non-null    datetime64[ns]
dtypes: datetime64[ns](1), int64(2)
memory usage: 19.6 KB

In [15]:
df

     order_id  customer_id order_date
0       10248           90 2021-07-04
1       10249           81 2021-07-05
2       10250           34 2021-07-08
3       10251           84 2021-07-08
4       10252           76 2021-07-09
..        ...          ...        ...
825     11073           58 2023-05-05
826     11074           73 2023-05-06
827     11075           68 2023-05-06
828     11076            9 2023-05-06
829     11077           65 2023-05-06

[830 rows x 3 columns]

In [16]:
#dataframe = pd.read_sql("SELECT * FROM customers", conn)
#dataframe = pd.read_sql("SELECT * FROM orders", conn)
#dataframe = pd.read_sql("SELECT * FROM products", conn)
dataframe = pd.read_sql_query("SELECT * FROM products", conn);

/var/folders/fb/xl0hnskx527bfqkv38l3sn7h0000gn/T/ipykernel_93941/520290235.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dataframe = pd.read_sql_query("SELECT * FROM products", conn);

In [17]:
dataframe

,product_id,product_name,category_id,unit,price
0,1,Chais,1,10 boxes x 20 bags,18.00
1,2,Chang,1,24 - 12 oz bottles,19.00
2,3,Aniseed Syrup,2,12 - 550 ml bottles,10.00
3,4,Chef Antons Cajun Seasoning,2,48 - 6 oz jars,22.00
4,5,Chef Antons Gumbo Mix,2,36 boxes,21.35
...,...,...,...,...,...
72,73,Red Kaviar,8,24 - 150 g jars,15.00
73,74,Longlife Tofu,7,5 kg pkg.,10.00
74,75,Rhenbreu Klosterbier,1,24 - 0.5 l bottles,7.75
75,76,Lakkalikeeri,1,500 ml,18.00
76,77,Original Frankfurter grne Soae,2,12 boxes,13.00

In [18]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    77 non-null     int64
 1   product_name  77 non-null     object
 2   category_id   77 non-null     int64
 3   unit          77 non-null     object
 4   price         77 non-null     float64
dtypes: float64(1), int64(2), object(2)
memory usage: 3.1+ KB

In [19]:
import psycopg2.extras

cur = conn.cursor(cursor_factory = psycopg2.extras.RealDictCursor)
cur.execute('''SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';''')
res = cur.fetchall() 
print(res[0]['tablename'])

test

In [20]:
res

[RealDictRow([('schemaname', 'public'),
              ('tablename', 'test'),
              ('tableowner', 'funka'),
              ('tablespace', None),
              ('hasindexes', False),
              ('hasrules', False),
              ('hastriggers', False),
              ('rowsecurity', False)]),
 RealDictRow([('schemaname', 'nace'),
              ('tablename', 'nace_podklad'),
              ('tableowner', 'funka'),
              ('tablespace', None),
              ('hasindexes', False),
              ('hasrules', False),
              ('hastriggers', False),
              ('rowsecurity', False)]),
 RealDictRow([('schemaname', 'isco'),
              ('tablename', 'isco_hlavni_trida'),
              ('tableowner', 'funka'),
              ('tablespace', None),
              ('hasindexes', False),
              ('hasrules', False),
              ('hastriggers', False),
              ('rowsecurity', False)]),
 RealDictRow([('schemaname', 'isco'),
              ('tablename', 'isco_trida'),
              ('tableowner', 'funka'),
              ('tablespace', None),
              ('hasindexes', False),
              ('hasrules', False),
              ('hastriggers', False),
              ('rowsecurity', False)]),
 RealDictRow([('schemaname', 'isco'),
              ('tablename', 'isco_skupina'),
              ('tableowner', 'funka'),
              ('tablespace', None),
              ('hasindexes', False),
              ('hasrules', False),
              ('hastriggers', False),
              ('rowsecurity', False)]),
 RealDictRow([('schemaname', 'public'),
              ('tablename', 'categories'),
              ('tableowner', 'funka'),
              ('tablespace', None),
              ('hasindexes', True),
              ('hasrules', False),
              ('hastriggers', False),
              ('rowsecurity', False)]),
 RealDictRow([('schemaname', 'public'),
              ('tablename', 'customers'),
              ('tableowner', 'funka'),
              ('tablespace', None),
              ('hasindexes', True),
              ('hasrules', False),
              ('hastriggers', False),
              ('rowsecurity', False)]),
 RealDictRow([('schemaname', 'public'),
              ('tablename', 'products'),
              ('tableowner', 'funka'),
              ('tablespace', None),
              ('hasindexes', True),
              ('hasrules', False),
              ('hastriggers', False),
              ('rowsecurity', False)]),
 RealDictRow([('schemaname', 'public'),
              ('tablename', 'orders'),
              ('tableowner', 'funka'),
              ('tablespace', None),
              ('hasindexes', True),
              ('hasrules', False),
              ('hastriggers', False),
              ('rowsecurity', False)]),
 RealDictRow([('schemaname', 'public'),
              ('tablename', 'order_details'),
              ('tableowner', 'funka'),
              ('tablespace', None),
              ('hasindexes', True),
              ('hasrules', False),
              ('hastriggers', False),
              ('rowsecurity', False)]),
 RealDictRow([('schemaname', 'public'),
              ('tablename', 'testproducts'),
              ('tableowner', 'funka'),
              ('tablespace', None),
              ('hasindexes', True),
              ('hasrules', False),
              ('hastriggers', False),
              ('rowsecurity', False)]),
 RealDictRow([('schemaname', 'nace'),
              ('tablename', 'nace_sekce'),
              ('tableowner', 'funka'),
              ('tablespace', None),
              ('hasindexes', False),
              ('hasrules', False),
              ('hastriggers', False),
              ('rowsecurity', False)]),
 RealDictRow([('schemaname', 'public'),
              ('tablename', 'bill'),
              ('tableowner', 'funka'),
              ('tablespace', None),
              ('hasindexes', False),
              ('hasrules', False),
              ('hastriggers', False),
              ('rowsecurity', False)]),
 RealDictRow([('schemaname', 'public'),
              ('tablename', 'bill2'),
              ('tableowner', 'funka'),
              ('tablespace', None),
              ('hasindexes', False),
              ('hasrules', False),
              ('hastriggers', False),
              ('rowsecurity', False)]),
 RealDictRow([('schemaname', 'public'),
              ('tablename', 'bill3'),
              ('tableowner', 'funka'),
              ('tablespace', None),
              ('hasindexes', False),
              ('hasrules', False),
              ('hastriggers', False),
              ('rowsecurity', False)]),
 RealDictRow([('schemaname', 'sqlw3s'),
              ('tablename', 'Customers'),
              ('tableowner', 'funka'),
              ('tablespace', None),
              ('hasindexes', False),
              ('hasrules', False),
              ('hastriggers', False),
              ('rowsecurity', False)]),
 RealDictRow([('schemaname', 'public'),
              ('tablename', 'bill4'),
              ('tableowner', 'funka'),
              ('tablespace', None),
              ('hasindexes', False),
              ('hasrules', False),
              ('hastriggers', False),
              ('rowsecurity', False)]),
 RealDictRow([('schemaname', 'isco'),
              ('tablename', 'isco_podklad'),
              ('tableowner', 'funka'),
              ('tablespace', None),
              ('hasindexes', False),
              ('hasrules', False),
              ('hastriggers', False),
              ('rowsecurity', False)])]

In [21]:
import psycopg2.extras

cur = conn.cursor(cursor_factory = psycopg2.extras.NamedTupleCursor)
cur.execute('''SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';''')
res = cur.fetchall()
print(res[0])
print('Tables:')
for re in res:
    print(re.tablename)

Record(schemaname='public', tablename='test', tableowner='funka', tablespace=None, hasindexes=False, hasrules=False, hastriggers=False, rowsecurity=False)
Tables:
test
nace_podklad
isco_hlavni_trida
isco_trida
isco_skupina
categories
customers
products
orders
order_details
testproducts
nace_sekce
bill
bill2
bill3
Customers
bill4
isco_podklad

In [22]:
cur.execute('select * from aaa');

UndefinedTable: relation "aaa" does not exist
LINE 1: select * from aaa
                      ^

In [25]:
#po chybe musit udelat toto jinak nelze pokracovat
#curs = conn.cursor()
cur.execute("ROLLBACK")
conn.commit()

In [26]:
cur.execute('select * from nace.nace_sekce');

In [27]:
res = cur.fetchall() 
res

[Record(sekce_kod='A', sekce_nazev='SEKCE A - ZEMDLSTV, LESNICTV A\xa0RYBSTV'),
 Record(sekce_kod='B', sekce_nazev='SEKCE B - TBA A DOBVN'),
 Record(sekce_kod='C', sekce_nazev='SEKCE C - ZPRACOVATELSK PRMYSL'),
 Record(sekce_kod='D', sekce_nazev='SEKCE D  VROBA A ROZVOD ELEKTINY, PLYNU, TEPLA A\xa0KLIMATIZOVANHO VZDUCHU'),
 Record(sekce_kod='E', sekce_nazev='SEKCE E  ZSOBOVN VODOU; INNOSTI SOUVISEJC S\xa0ODPADNMI VODAMI, ODPADY A SANACEMI'),
 Record(sekce_kod='F', sekce_nazev='SEKCE F - STAVEBNICTV'),
 Record(sekce_kod='G', sekce_nazev='SEKCE G - VELKOOBCHOD A MALOOBCHOD; OPRAVY A\xa0DRBA MOTOROVCH VOZIDEL'),
 Record(sekce_kod='H', sekce_nazev='SEKCE H - DOPRAVA A SKLADOVN'),
 Record(sekce_kod='I', sekce_nazev='SEKCE I - UBYTOVN, STRAVOVN A\xa0POHOSTINSTV'),
 Record(sekce_kod='J', sekce_nazev='SEKCE J - INFORMAN A KOMUNIKAN INNOSTI'),
 Record(sekce_kod='K', sekce_nazev='SEKCE K - PENNICTV A POJIOVNICTV'),
 Record(sekce_kod='L', sekce_nazev='SEKCE L - INNOSTI V\xa0OBLASTI NEMOVITOST'),
 Record(sekce_kod='M', sekce_nazev='SEKCE M - PROFESN, VDECK A\xa0TECHNICK INNOSTI'),
 Record(sekce_kod='N', sekce_nazev='SEKCE N - ADMINISTRATIVN A PODPRN INNOSTI'),
 Record(sekce_kod='O', sekce_nazev='SEKCE O - VEEJN SPRVA A OBRANA; POVINN SOCILN ZABEZPEEN'),
 Record(sekce_kod='P', sekce_nazev='SEKCE P  VZDLVN'),
 Record(sekce_kod='Q', sekce_nazev='SEKCE Q - ZDRAVOTN A SOCILN PE'),
 Record(sekce_kod='R', sekce_nazev='SEKCE R - KULTURN, ZBAVN A\xa0REKREAN INNOSTI'),
 Record(sekce_kod='S', sekce_nazev='SEKCE S - OSTATN INNOSTI'),
 Record(sekce_kod='T', sekce_nazev='SEKCE T - INNOSTI DOMCNOST JAKO\xa0ZAMSTNAVATEL; INNOSTI DOMCNOST PRODUKUJCCH BLE NEUREN VROBKY A SLUBY PRO\xa0VLASTN POTEBU'),
 Record(sekce_kod='U', sekce_nazev='SEKCE U - INNOSTI EXTERITORILNCH ORGANIZAC A\xa0ORGN')]

In [28]:
res = pd.read_sql_query('''select * from nace.nace_sekce ''', con = conn)

/var/folders/fb/xl0hnskx527bfqkv38l3sn7h0000gn/T/ipykernel_93941/2773631083.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  res = pd.read_sql_query('''select * from nace.nace_sekce ''', con = conn)

In [29]:
pd.options.display.max_rows = 999
pd.options.display.max_columns = 999
pd.options.display.max_colwidth = 999

In [30]:
res

,sekce_kod,sekce_nazev
0,A,"SEKCE A - ZEMDLSTV, LESNICTV ARYBSTV"
1,B,SEKCE B - TBA A DOBVN
2,C,SEKCE C - ZPRACOVATELSK PRMYSL
3,D,"SEKCE D VROBA A ROZVOD ELEKTINY, PLYNU, TEPLA AKLIMATIZOVANHO VZDUCHU"
4,E,"SEKCE E ZSOBOVN VODOU; INNOSTI SOUVISEJC SODPADNMI VODAMI, ODPADY A SANACEMI"
5,F,SEKCE F - STAVEBNICTV
6,G,SEKCE G - VELKOOBCHOD A MALOOBCHOD; OPRAVY ADRBA MOTOROVCH VOZIDEL
7,H,SEKCE H - DOPRAVA A SKLADOVN
8,I,"SEKCE I - UBYTOVN, STRAVOVN APOHOSTINSTV"
9,J,SEKCE J - INFORMAN A KOMUNIKAN INNOSTI
10,K,SEKCE K - PENNICTV A POJIOVNICTV
11,L,SEKCE L - INNOSTI VOBLASTI NEMOVITOST
12,M,"SEKCE M - PROFESN, VDECK ATECHNICK INNOSTI"
13,N,SEKCE N - ADMINISTRATIVN A PODPRN INNOSTI
14,O,SEKCE O - VEEJN SPRVA A OBRANA; POVINN SOCILN ZABEZPEEN
15,P,SEKCE P VZDLVN
16,Q,SEKCE Q - ZDRAVOTN A SOCILN PE
17,R,"SEKCE R - KULTURN, ZBAVN AREKREAN INNOSTI"
18,S,SEKCE S - OSTATN INNOSTI
19,T,SEKCE T - INNOSTI DOMCNOST JAKOZAMSTNAVATEL; INNOSTI DOMCNOST PRODUKUJCCH BLE NEUREN VROBKY A SLUBY PROVLASTN POTEBU
20,U,SEKCE U - INNOSTI EXTERITORILNCH ORGANIZAC AORGN

In [31]:
print(res.loc[20, 'nazev'])

KeyError: 'nazev'

In [32]:
# Return data from the Customers table:
cur.execute('''SELECT * FROM information_schema.tables WHERE table_schema = 'public';''')
df = pd.DataFrame(tuple(t) for t in cur.fetchall())
columns = [i[0] for i in cur.description]
if len(df) == 0: df = pd.DataFrame([["" for i in range(len(columns))]])
df.columns = columns
df

,table_catalog,table_schema,table_name,table_type,self_referencing_column_name,reference_generation,user_defined_type_catalog,user_defined_type_schema,user_defined_type_name,is_insertable_into,is_typed,commit_action
0,test,public,test,BASE TABLE,None,None,None,None,None,YES,NO,None
1,test,public,categories,BASE TABLE,None,None,None,None,None,YES,NO,None
2,test,public,customers,BASE TABLE,None,None,None,None,None,YES,NO,None
3,test,public,products,BASE TABLE,None,None,None,None,None,YES,NO,None
4,test,public,orders,BASE TABLE,None,None,None,None,None,YES,NO,None
5,test,public,order_details,BASE TABLE,None,None,None,None,None,YES,NO,None
6,test,public,testproducts,BASE TABLE,None,None,None,None,None,YES,NO,None
7,test,public,bill,BASE TABLE,None,None,None,None,None,YES,NO,None
8,test,public,bill2,BASE TABLE,None,None,None,None,None,YES,NO,None
9,test,public,bill3,BASE TABLE,None,None,None,None,None,YES,NO,None
10,test,public,bill4,BASE TABLE,None,None,None,None,None,YES,NO,None

In [33]:
conn.info.user

'funka'

In [34]:
conn.info.used_password

True

In [35]:
conn.info.host

'/tmp'

In [36]:
conn.info.port

5432

In [37]:
conn.info.dbname

'test'

In [38]:
conn.info.dsn_parameters

{'user': 'funka',
 'channel_binding': 'prefer',
 'dbname': 'test',
 'port': '5432',
 'options': '',
 'sslmode': 'prefer',
 'sslcompression': '0',
 'sslcertmode': 'allow',
 'sslsni': '1',
 'ssl_min_protocol_version': 'TLSv1.2',
 'gssencmode': 'prefer',
 'krbsrvname': 'postgres',
 'gssdelegation': '0',
 'target_session_attrs': 'any',
 'load_balance_hosts': 'disable'}

In [39]:
# toto je vidt v PgAdmin/Dashboard/Sessions
conn.info.backend_pid

93947

In [40]:
conn.info.error_message

In [41]:
conn.info.status

0

In [42]:
#kdy OK tak je 2, po chyb je 3
conn.info.transaction_status

2

In [43]:
conn.close()