In [2]:
import psycopg2
import pandas as pd

In [3]:
'''
with t1 AS (SELECT EXTRACT(YEAR FROM now()) AS rok, EXTRACT(MONTH FROM now()) AS mesic, generate_series(0,22) as posun_zpet)
SELECT rok,
	mesic,
	posun_zpet,
	date(concat(rok::varchar, '-', mesic::varchar, '-01')) datum,
	concat(posun_zpet, ' month')::Interval interval,
	date(concat(rok::varchar, '-', mesic::varchar, '-01')) - concat(posun_zpet, ' month')::Interval datum_zpet,
	EXTRACT(YEAR FROM date(concat(rok::varchar, '-', mesic::varchar, '-01')) - concat(posun_zpet, ' month')::Interval) AS rok_zpet,
	EXTRACT(MONTH FROM date(concat(rok::varchar, '-', mesic::varchar, '-01')) - concat(posun_zpet, ' month')::Interval) AS mesic_zpet
	from t1;
'''

"\nwith t1 AS (SELECT EXTRACT(YEAR FROM now()) AS rok, EXTRACT(MONTH FROM now()) AS mesic, generate_series(0,22) as posun_zpet)\nSELECT rok,\n\tmesic,\n\tposun_zpet,\n\tdate(concat(rok::varchar, '-', mesic::varchar, '-01')) datum,\n\tconcat(posun_zpet, ' month')::Interval interval,\n\tdate(concat(rok::varchar, '-', mesic::varchar, '-01')) - concat(posun_zpet, ' month')::Interval datum_zpet,\n\tEXTRACT(YEAR FROM date(concat(rok::varchar, '-', mesic::varchar, '-01')) - concat(posun_zpet, ' month')::Interval) AS rok_zpet,\n\tEXTRACT(MONTH FROM date(concat(rok::varchar, '-', mesic::varchar, '-01')) - concat(posun_zpet, ' month')::Interval) AS mesic_zpet\n\tfrom t1;\n"

In [4]:
conn = psycopg2.connect('''host=localhost port=5432 dbname=test user=funka password=funka1''')

In [9]:
import psycopg2.extras

cur = conn.cursor(cursor_factory = psycopg2.extras.NamedTupleCursor)
cur.execute('''
    with t1 AS (SELECT EXTRACT(YEAR FROM now()) AS rok, EXTRACT(MONTH FROM now()) AS mesic, generate_series(0,22) as posun_zpet)
    SELECT rok,
        mesic,
        posun_zpet,
        date(concat(rok::varchar, '-', mesic::varchar, '-01')) datum,
        concat(posun_zpet, ' month')::Interval interval,
        date(concat(rok::varchar, '-', mesic::varchar, '-01')) - concat(posun_zpet, ' month')::Interval datum_zpet,
        EXTRACT(YEAR FROM date(concat(rok::varchar, '-', mesic::varchar, '-01')) - concat(posun_zpet, ' month')::Interval) AS rok_zpet,
        EXTRACT(MONTH FROM date(concat(rok::varchar, '-', mesic::varchar, '-01')) - concat(posun_zpet, ' month')::Interval) AS mesic_zpet
        from t1;
''')
res = cur.fetchall()
print(res[0].rok)

2025

In [10]:
df = pd.DataFrame(res)
df

     rok mesic  posun_zpet       datum interval datum_zpet rok_zpet mesic_zpet
0   2025     9           0  2025-09-01   0 days 2025-09-01     2025          9
1   2025     9           1  2025-09-01  30 days 2025-08-01     2025          8
2   2025     9           2  2025-09-01  60 days 2025-07-01     2025          7
3   2025     9           3  2025-09-01  90 days 2025-06-01     2025          6
4   2025     9           4  2025-09-01 120 days 2025-05-01     2025          5
5   2025     9           5  2025-09-01 150 days 2025-04-01     2025          4
6   2025     9           6  2025-09-01 180 days 2025-03-01     2025          3
7   2025     9           7  2025-09-01 210 days 2025-02-01     2025          2
8   2025     9           8  2025-09-01 240 days 2025-01-01     2025          1
9   2025     9           9  2025-09-01 270 days 2024-12-01     2024         12
10  2025     9          10  2025-09-01 300 days 2024-11-01     2024         11
11  2025     9          11  2025-09-01 330 days 2024-10-01     2024         10
12  2025     9          12  2025-09-01 365 days 2024-09-01     2024          9
13  2025     9          13  2025-09-01 395 days 2024-08-01     2024          8
14  2025     9          14  2025-09-01 425 days 2024-07-01     2024          7
15  2025     9          15  2025-09-01 455 days 2024-06-01     2024          6
16  2025     9          16  2025-09-01 485 days 2024-05-01     2024          5
17  2025     9          17  2025-09-01 515 days 2024-04-01     2024          4
18  2025     9          18  2025-09-01 545 days 2024-03-01     2024          3
19  2025     9          19  2025-09-01 575 days 2024-02-01     2024          2
20  2025     9          20  2025-09-01 605 days 2024-01-01     2024          1
21  2025     9          21  2025-09-01 635 days 2023-12-01     2023         12
22  2025     9          22  2025-09-01 665 days 2023-11-01     2023         11

In [11]:
'''
SELECT now() datum,
 date_trunc('year', now()) year_trunc,
 date_trunc('month', now()) month_trunc,
 date_trunc('day', now()) day_trunc,
 date_trunc('hour', now()) hour_trunc,
 date_trunc('minute', now()) minute_trunc,
 date_trunc('second', now()) second_trunc;
'''

"\nSELECT now() datum,\n date_trunc('year', now()) year_trunc,\n date_trunc('month', now()) month_trunc,\n date_trunc('day', now()) day_trunc,\n date_trunc('hour', now()) hour_trunc,\n date_trunc('minute', now()) minute_trunc,\n date_trunc('second', now()) second_trunc;\n"

In [13]:
import psycopg2.extras

cur = conn.cursor(cursor_factory = psycopg2.extras.NamedTupleCursor)
cur.execute('''
    SELECT now() datum,
        date_trunc('year', now()) year_trunc,
        date_trunc('month', now()) month_trunc,
        date_trunc('day', now()) day_trunc,
        date_trunc('hour', now()) hour_trunc,
        date_trunc('minute', now()) minute_trunc,
        date_trunc('second', now()) second_trunc;
''')
res = cur.fetchall()
df = pd.DataFrame(res)
df

,datum,year_trunc,month_trunc,day_trunc,hour_trunc,minute_trunc,second_trunc
0,2025-09-29 15:19:13.851043+02:00,2025-01-01 00:00:00+01:00,2025-09-01 00:00:00+02:00,2025-09-29 00:00:00+02:00,2025-09-29 15:00:00+02:00,2025-09-29 15:19:00+02:00,2025-09-29 15:19:13+02:00

In [12]:
'''
SELECT now() datum,
 extract('year' from now()) year_trunc,
 extract('month' from now()) month_trunc,
 extract('day' from now()) day_trunc,
 extract('hour' from now()) hour_trunc,
 extract('minute' from now()) minute_trunc,
 extract('second' from now()) second_trunc;
'''

"\nSELECT now() datum,\n extract('year' from now()) year_trunc,\n extract('month' from now()) month_trunc,\n extract('day' from now()) day_trunc,\n extract('hour' from now()) hour_trunc,\n extract('minute' from now()) minute_trunc,\n extract('second' from now()) second_trunc;\n"

In [14]:
import psycopg2.extras

cur = conn.cursor(cursor_factory = psycopg2.extras.NamedTupleCursor)
cur.execute('''
    SELECT now() datum,
        extract('year' from now()) year_trunc,
        extract('month' from now()) month_trunc,
        extract('day' from now()) day_trunc,
        extract('hour' from now()) hour_trunc,
        extract('minute' from now()) minute_trunc,
        extract('second' from now()) second_trunc;
''')
res = cur.fetchall()
df = pd.DataFrame(res)
df

,datum,year_trunc,month_trunc,day_trunc,hour_trunc,minute_trunc,second_trunc
0,2025-09-29 15:19:13.851043+02:00,2025,9,29,15,19,13.851043